<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IdentityModel" version="1.11.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.2.206221351" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="ServiceStack" version="4.0.56" targetFramework="net452" />
  <package id="ServiceStack.Client" version="4.0.56" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.0.56" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.0.56" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.0.56" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net452" />
</packages>